$text-color: #1E483E;
$text-color-secondary: #40534E;
$text-color-light: #FAF5F0;

$accent-color: #77DECA;
$hover-color: #5AA899;

$border-color: #97ABA5;


$body-background-color: #FAFCFB;
$header-background-color: #ECEEF1;
$secondary-background: #EDF7F4;