@import '../../styles/colors';

.aboutUs {
	padding-top: 60px;

	@media screen and (max-width: 768px) {
		padding-top: 58px;
	}

	.aboutTitle {

		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
			font-size: 24px;
		}
	}

	.wrapperContent {
		display: flex;
		column-gap: 40px;

		.wrapperText {
			display: flex;
			flex-direction: column;

			.text {
				flex-grow: 1;
				font-size: 20px;
			}
		}


		.wrapperImg {
			flex-grow: 1;
			display: flex;
		}
	}
}