@import '../../styles/colors';

.footer {
	width: 100%;

	.text {
		padding: 40px 0;

		font-weight: 500;
		font-size: 18px;
		text-align: center;

		@media screen and (max-width: 768px) {
			font-size: 12px;
		}
	}
}