@import '../../styles/colors';

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: $header-background-color;

	.headerContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		max-width: 1230px;
		margin: 0 auto;
		padding: 0 15px;

		@media only screen and (max-width: 768px) {
			max-width: 400px;
			padding: 0 15px;
			justify-content: space-between;
		}

		.logo {
			display: flex;
			column-gap: 8px;

			@media only screen and (max-width: 768px) {
				padding: 20px 0;
				column-gap: 4px;
			}

			.logoName {
				font-family: 'Josefin Sans';
				color: $text-color;
				font-size: 36px;
				font-weight: 600;

				@media only screen and (max-width: 768px) {
					font-size: 32px;
				}
			}

		}

		.menuBtn {
			cursor: pointer;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		.iconCross {
			width: 40px;
			height: 40px;

			path {
				fill: $text-color;
			}
		}

		.iconMenu {
			width: 40px;
			height: 40px;

			path {
				stroke: $text-color;
			}
		}
	}
}