@import '../../../styles/colors';

.item {
	overflow: hidden;
	position: relative;

	&:not(:first-child) {
		margin-top: 20px;
	}

	.btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 16px 20px;
		border-radius: 8px;

		background-color: $secondary-background;

		font-weight: 600;
		font-size: 24px;
		text-align: start;
		cursor: pointer;

		@media screen and (max-width: 768px) {
			font-size: 20px;
		}

		.title {
			color: $text-color;

			@media screen and (max-width: 700px) {
				max-width: 250px;
				font-size: 18px;
			}
		}

		.icon {
			transition: transform 0.3s linear;
		}

		.openIcon {
			transform: rotate(180deg);
			transition: transform 0.3s linear;
		}
	}

	.desc {
		max-height: 0;
		margin-top: 20px;
		font-size: 24px;

		transition: max-height 0.5s linear;

		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}

	.open {
		max-height: 350px;
		transition: max-height 0.5s linear;
	}
}