.section {
	padding-top: 120px;

	@media screen and (max-width: 768px) {
		padding-top: 60px;
	}

	.title {

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
	}

}