@import '../../styles/colors';

.navigation {
	display: flex;
	column-gap: 58px;
	align-items: center;


	@media only screen and (max-width: 768px) {
		position: fixed;
		top: 80px;
		left: 0;

		flex-direction: column;
		row-gap: 40px;

		padding: 0 20px;
		padding-top: 40px;
		width: 100%;
		height: 100%;

		transform: translate(-100%, 0);
		opacity: 0;
		transition: all 0.4s;
		background-color: $body-background-color;
		font-size: 22px;

	}

	.navList {
		display: flex;
		column-gap: 60px;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			row-gap: 20px;
			align-items: center;
		}

		.navItem {
			display: flex;
			transition: color 0.4s;

			&:hover,
			&:focus {
				color: $accent-color;
				transition: color 0.4s;
			}

			.navLink {
				padding: 26px 0;
				font-size: 22px;

				@media only screen and (max-width: 768px) {
					padding: 0;
				}
			}
		}
	}

	.contactInfo {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 14px;
		justify-content: space-between;

		@media only screen and (min-width: 768px) {
			display: none;
		}

		.phone {
			display: flex;
			align-items: center;
			column-gap: 8px;

			transition: color 0.3s;

			&:hover,
			&:focus {
				transition: color 0.3s;
				color: $hover-color;
			}
		}

		.address {
			.location {
				display: flex;
				align-items: center;
				column-gap: 8px;
				margin-bottom: 4px;

				transition: color 0.3s;

				&:hover,
				&:focus {
					transition: color 0.3s;
					color: $hover-color;
				}
			}

			.area {
				font-size: 14px;
				text-align: center;
				margin-left: 26px;
			}
		}

	}

	.socialLinks {
		display: flex;
		column-gap: 8px;
		align-items: center;

		@media only screen and (min-width: 768px) {
			display: none;
		}

		.socialLink {
			svg {
				path {
					transition: stroke 0.3s;
				}
			}

			&:hover,
			&:focus {
				svg {
					path {
						transition: stroke 0.3s;
						stroke: $hover-color;
					}

				}
			}
		}

		.instSocialLink {
			svg {
				path {
					transition: fill 0.3s;
				}
			}

			&:hover,
			&:focus {
				svg {
					path {
						transition: fill 0.3s;
						fill: $hover-color;
					}
				}
			}
		}
	}

}

.visibleMenu {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 0.4s;
}