@import '../../styles/colors';

.navigation {
	display: flex;
	column-gap: 58px;
	align-items: center;

	@media only screen and (max-width: 768px) {
		position: fixed;
		top: 104px;
		left: 0;

		flex-direction: column;
		row-gap: 40px;

		padding: 40px 20px;
		width: 100%;

		transform: translate(-100%, 0);
		opacity: 0;
		transition: all 0.4s;
	}

	.navList {
		display: flex;
		column-gap: 60px;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			row-gap: 20px;
			align-items: center;
		}

		.navItem {
			display: flex;
			transition: color 0.4s;

			&:hover,
			&:focus {
				color: $accent-color;
				transition: color 0.4s;
			}

			.navLink {
				padding: 26px 0;
				font-size: 22px;

				@media only screen and (max-width: 768px) {
					padding: 0;
				}
			}
		}
	}

}

.visibleMenu {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 0.4s;
}